<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My First Bootstrap Page</h1>
                <p>This is some text.</p>
            </div>
        </div>
    </div>
    <!-- Login container, username and passqord textbox with sql action button -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="email" name="name" id="name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="password" name="password" id="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary">Login</button>
            </div>
    </div>
</body>
<!-- CDN bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
```
